services:
  gatekeeper:
    image: nginx:alpine
    container_name: ng-gatekeeper
    restart: always
    depends_on:
      - sb-public
      - librarian
      - git-watcher
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/nginx.conf.template:ro
      - ./nginx/login.html:/usr/share/nginx/html/login.html:ro
      - ./nginx/not_found.html:/usr/share/nginx/html/not_found.html:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
    environment:
      - PUBLIC_HOST=${PUBLIC_HOST:?set PUBLIC_HOST}
      - SPACE_DOMAIN_SUFFIX=${SPACE_DOMAIN_SUFFIX:?set SPACE_DOMAIN_SUFFIX}
      - VIRTUAL_HOST=${VIRTUAL_HOST:?set VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST:?set LETSENCRYPT_HOST}
      - PORT=${GATEKEEPER_PORT:-80}
    command: >-
      /bin/sh -c "envsubst '\$$PUBLIC_HOST \$$SPACE_DOMAIN_SUFFIX' < /etc/nginx/nginx.conf.template > /etc/nginx/nginx.conf && nginx -g 'daemon off;'"
    expose:
      - "80"
    networks:
      - default
      - proxy-net

  sb-public:
    image: ghcr.io/silverbulletmd/silverbullet
    container_name: ng-public
    restart: always
    environment:
      - SB_READ_ONLY=true
      - PUID=1001
      - PGID=1001
    volumes:
      - ./spaces/public:/space
      # Mount content here too, so public symlinks resolve
      - ./content:/content

  librarian:
    build:
      context: .
      dockerfile: Dockerfile.librarian
    container_name: ng-librarian
    restart: always
    user: "0:0"
    volumes:
      - ./content:/content
      - ./spaces:/spaces
      - /var/run/docker.sock:/var/run/docker.sock
      - ./nginx/conf.d:/etc/nginx/conf.d
    environment:
      - HOST_ROOT_DIR=${HOST_ROOT_DIR:?set HOST_ROOT_DIR}
      - SPACE_DOMAIN_SUFFIX=${SPACE_DOMAIN_SUFFIX:?set SPACE_DOMAIN_SUFFIX}

  git-watcher:
    image: alpine/git
    container_name: ng-watcher
    restart: always
    user: "0:0"
    environment:
      - DEFAULT_EMAIL=${DEFAULT_EMAIL:-bot@ng-brain.local}
      
      - CONTENT_REMOTE=${CONTENT_REMOTE:?set CONTENT_REMOTE}
      - CONTENT_BRANCH=${CONTENT_BRANCH:-main}
      - CONTENT_REMOTE_SSH_KEY=${CONTENT_REMOTE_SSH_KEY:-}
      - CONTENT_REMOTE_SSH_KNOWN_HOSTS=${CONTENT_REMOTE_SSH_KNOWN_HOSTS:-}
      - HOME=/home/git
    volumes:
      - ./content:/repo
      - ./scripts/git-watcher.sh:/scripts/git-watcher.sh:ro
    entrypoint:
      - /bin/sh
      - /scripts/git-watcher.sh

networks:
  default:
    name: ng-brain_default

  proxy-net:
    external: true
    name: nginx-proxy