services:
  gatekeeper:
    image: nginx:alpine
    container_name: ng-gatekeeper
    restart: always
    depends_on:
      - sb-writer
      - sb-reader
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/login.html:/usr/share/nginx/html/login.html:ro
    environment:
      - VIRTUAL_HOST=docs2.nourgaser.com
      - LETSENCRYPT_HOST=docs2.nourgaser.com
      - PORT=80
    expose:
      - "80"

  sb-writer:
    image: ghcr.io/silverbulletmd/silverbullet
    container_name: ng-writer
    restart: always
    environment:
      - PUID=1001
      - PGID=1001
    volumes:
      # 1. The Virtual View (Where the symlinks live)
      - ./spaces/writer:/space
      # 2. The Actual Data (So the symlinks work!)
      - ./content:/content

  sb-reader:
    image: ghcr.io/silverbulletmd/silverbullet
    container_name: ng-reader
    restart: always
    environment:
      - SB_READ_ONLY=true
      - PUID=1001
      - PGID=1001
    volumes:
      - ./spaces/public:/space
      # Mount content here too, so public symlinks resolve
      - ./content:/content

  librarian:
    build:
      context: .
      dockerfile: Dockerfile.librarian
    container_name: ng-librarian
    restart: always
    user: "1001:1001"
    volumes:
      - ./content:/content # Read config
      - ./spaces:/spaces # Write symlinks

networks:
  default:
    external: true
    name: nginx-proxy
